body {
  background-size: auto;
  background-color: lightblue;
  background-image: linear-gradient(to left, #89CFF0, lightblue, #00c2cb);
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, div {
  text-align: center;
}
::-moz-selection {
  color: white;
  background: #0b8f96;
}
::selection {
  color: white;
  background: #0b8f96;
}
hr {
  border: 5px solid #00c2cb;
}
table {
  width: 57%;
  background-color: #89CFF0;
  border-radius: 5px;
  --border: 1px solid black;
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
  word-break: break-word;
  -moz-box-shadow: 10px 10px 5px #0b8f96;
  -webkit-box-shadow: 10px 10px 5px #0b8f96;
  box-shadow: 10px 10px 5px #0b8f96;
}

table th:not(:last-child),
table td:not(:last-child) {
 border-right: 1px solid black;
}
table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
 border-bottom: 1px solid black;
}
tr:nth-child(even) {
  background-color: #00c2cb;
}
td, th {
  text-align: left;
  padding: 8px;
  color: black;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: lightblue; 
}
::-webkit-scrollbar-thumb {
  background: #00c2cb;
}
::-webkit-scrollbar-thumb:hover {
  background: #0b8f96; 
}
.button {
  background-color: #00c2cb;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px #0b8f96;
  -webkit-box-shadow: 10px 10px 5px #0b8f96;
  box-shadow: 10px 10px 5px #0b8f96;
  border: 1px solid black
}
.button:hover {
  background: #0b8f96;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  text-align: center;
}
a:hover {
  color: #0b8f96;
}
input[type=button] {
  background-color: #00c2cb;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px #0b8f96;
  -webkit-box-shadow: 10px 10px 5px #0b8f96;
  box-shadow: 10px 10px 5px #0b8f96;
  border: 1px solid black
}
input[type=button]:hover {
  background: #0b8f96;
}
[contenteditable] {
  outline: 0px solid transparent;
}
.alert {
  margin: auto;
  padding: 20px;
  background-color: #00c2cb;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  width: 92%;
  -moz-box-shadow: 10px 10px 5px #0b8f96;
  -webkit-box-shadow: 10px 10px 5px #0b8f96;
  box-shadow: 10px 10px 5px #0b8f96;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #0b8f96;
}

#mainCaptcha {
  margin: auto;
  display: block;
}

#txtInput {
  margin: auto;
  display: block;
}

#refreshCAPTCHA {
  margin: auto;
  display: block;
}

#validateCAPTCHA {
  margin: auto;
  display: block;
}
