body {
  background-size: auto;
  background-color: lightblue;
  background-image: linear-gradient(to left, #89CFF0, lightblue, #00c2cb);
}
h1, h2, h3, h4, h5, h6, p, div {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  text-align: center;
} 
hr {
  border: 5px solid #00c2cb;
}
table {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  border-collapse: collapse;
  width: 57%;
  background-color: #89CFF0;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  color: black;
}
tr:nth-child(even) {
  background-color: #00c2cb;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: lightblue; 
}
::-webkit-scrollbar-thumb {
  background: #00c2cb;
}
::-webkit-scrollbar-thumb:hover {
  background: #0b8f96; 
}
.button {
  background-color: #00c2cb;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  border: 1px solid black;
}
.button:hover {
  background: #0b8f96;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
a:hover {
  color: #0b8f96;
}
input[type=button] {
  background-color: #00c2cb;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  border: 1px solid black;
  font-weight: bold;
}
input[type=button]:hover {
  background: #0b8f96;
}
.cropad {
    width: 525;
    height: 70px;
    object-fit: cover;
    border: 1px solid black;
}
